<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--Sourcemap: //cdn.tmijs.org/js/latest/1.x/tmi.js.map-->
  	<script src="//cdn.tmijs.org/js/latest/1.x/tmi.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet"> 
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>
